.text-link-button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
    padding: 7px 5px 6px;
    border-radius: 2px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-link-button .dashed-border {
    position: absolute;
    width: calc(100% - 10px);
    border-bottom: 1px dashed;
    left: 5px;
    bottom: 4px;
}

.text-link-button:hover {
    color: #666;
    cursor: pointer;
}

.text-link-button:hover .dashed-border {
    display: none;
}
