.basic-hover-effect-container,
.basic-hover-effect-container-disabled {
    display: inline-flex;
    transition: all .2s ease-in;
    margin: 0 10px;
}

.basic-hover-effect-container:hover {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .2);
    transition: all .2s ease-out;
}